<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Entre em Contato</h2>
            <p>Email: contato@exemplo.com</p>
            <p>Telefone: (11) 1234-5678</p>
            <p>Endereço: Rua Exemplo, 123, Cidade - Estado</p>
        </div>
        <div class="footer-section">
            <h2>Sobre Nós</h2>
            <p>Somos uma empresa dedicada a oferecer o melhor serviço ao cliente.</p>
        </div>
        <div class="footer-section">
            <h2>Navegação</h2>
            <p><a href="./home.html" style="color:white;">Home</a></p>
            <p><a href="./acompanhamento.html" style="color:white;">Acompanhamento</a></p>
            <p><a href="./artigo.html" style="color:white;">Dicas</a></p>
            <p><a href="./dicas.html" style="color:white;">Artigos</a></p>
        </div>
    </div>


    <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
</footer>