<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= titulo %></title>
  <link rel="stylesheet" href="/styles/<%= estilo %>">
  <link rel="shortcut icon" href="imagens/favicon 1.png" type="image/x-icon">
</head>