<header>
    <nav>   
        <ul> 
            <div class="header-main">
                <a href="./home.html">  
                    <img id="logo" src="imagens/logos em.png" alt="logo" class="logo">
                </a>
            </div>
            <li><a href="/formulario">Formulário</a></li>
            <li><a href="/acompanhamento">Acompanhamento</a></li>
            <li><a href="/artigo">Artigos</a></li>
            <li><a href="/dicas">Dicas</a></li>
            <li><a href="/sobrenos">Sobre Nós</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>