<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autismo e adolescência</title>
    <link rel="shortcut icon" href="img/favicon 1.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/adole.css">
   
</head>
<body>
        <header>
            <nav>
                
                <ul> 
             <div class="header-main">
                <a href="./home.html"> 
                <img id="logo" src="../../public/imagens/logos em.png" alt="logo" class="logo">
            </div>
                    <li><a href="./formulario.html">Formulário</a></li>
                    <li><a href="./acompanhamento.html">Acompanhamento</a></li>
                    <li><a href="./artigo.html">Artigos</a></li>
                    <li><a href="dicas.html">Dicas</a></li>
                    <li><a href="./sobre2.html">Sobre Nós</a></li>
                    <li><a href="index.html">Cadastro</a></li>
                    <li><a href="./login.html">Login</a></li>
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./mapa.html">Mapa</a></li>
                
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="info">
                <h2>Autismo na adolescência </h2><br>
                <p>O autismo na adolescência apresenta desafios únicos, como dificuldades na socialização e na adaptação às mudanças típicas dessa fase. 
                Os adolescentes autistas podem se sentir isolados e enfrentar pressões para se encaixar, o que pode resultar em ansiedade e depressão. 
                O apoio da família e da escola é fundamental para ajudar no desenvolvimento de habilidades sociais e emocionais. Criar um ambiente 
                acolhedor e inclusivo, onde a diversidade é celebrada, é essencial para promover o bem-estar desses jovens e garantir que suas 
                individualidades sejam respeitadas. Com o suporte adequado, eles podem navegar essa fase de transformação de forma mais positiva.  </p>
                    
                    
            </div>
    
            <div class="videos">
                <h2>Vídeos</h2>
                    <div class="container">
                        <div class="video">
                            <iframe src="./vdios/vdios/4 Dicas EFICAZES para lidar com crianças com Autismo em sala de aula.mp4" title="Vídeo 1"></iframe>
                        </div>
                        <div class="video">
                            <iframe src="https://youtu.be/6yLxmsO1zCo?si=grI8gkB9A2Xn-XK4" title="Vídeo 2"></iframe>
                        </div>
                        <div class="video">
                            <iframe src="https://www.youtube.com/watch?v=6yLxmsO1zCo" title="Vídeo 2"></iframe>
                        </div>
                    </div>
            </div>
        </div>
        </div>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Entre em Contato</h2>
                <p>Email: contato@exemplo.com</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Endereço: Rua Exemplo, 123, Cidade - Estado</p>
            </div>
            <div class="footer-section">
                <h2>Sobre Nós</h2>
                <p>Somos uma empresa dedicada a oferecer o melhor serviço ao cliente.</p>
            </div>
            <div class="footer-section">
                <h2>Navegação</h2>
                <p><a href="./home.html" style="color:white;">Home</a></p>
                <p><a href="./acompanhamento.html" style="color:white;">Acompanhamento</a></p>
                <p><a href="./artigo.html" style="color:white;">Dicas</a></p>
                <p><a href="./dicas.html" style="color:white;">Artigos</a></p>
            </div>
        </div>


        <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </footer>

</body>
</html>