<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head') %>

  <body>

    <%- include('../partials/nav') %>


    <div class="product-cards-container" id="#produtos">
      <div class="product-card">
        <img src="img/testando.png" alt="Intervenções Icon" />
        <h2>Intervenções psicoeducacionais</h2><br><br>
        <a href='https://www.scielo.br/j/rbp/a/FPHKndGWRRYPFvQTcBwGHNn/'><button>Acessar</button></a><br>
            </div>
      

      <div class="product-card">
        <img src="img/teste2.png" alt="Autismo Icon" />
        <h2>Autismo na educação do Brasil</h2><br><br>
        <a href='https://revistarebram.com/index.php/revistauniara/article/view/335'><button>Acessar</button></a><br>
    </div>

      <div class="product-card">
        <img src="img/teste3.png" alt="Autismo Icon" />
        <h2> Autismo psicoeducacionais</h2><br><br>
        <a href='https://www.scielo.br/j/rbp/a/FPHKndGWRRYPFvQTcBwGHNn/'><button>Acessar</button></a><br>
    </div>

      <div class="product-card">
        <img src="img/teste4.png" alt="Intervenções Icon" />
        <h2>Intervenções psicoeducacionais </h2><br><br>
                <a href='https://www.scielo.br/j/rbp/a/FPHKndGWRRYPFvQTcBwGHNn'><button>Acessar</button></a><br>
            </div>
    </div>


    <div style="flex-grow: 1;"></div> <!-- Para empurrar o footer para baixo -->

    <%- include('../partials/footer') %> 

  </body>
</html>
