<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../public/imagens/img/favicon 1.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/dicas.css" />
    <title>Dicas</title>
  </head>

  <body>

    <header>
        <nav>
            
            <ul> 
              <div class="header-main">
                <a href="./home.html"> 
                <img id="logo" src="../../public/imagens/logos em.png" alt="logo" class="logo">
            </div>
                <li><a href="./formulario.html">Formulário</a></li>
                <li><a href="./acompanhamento.html">Acompanhamento</a></li>
                <li><a href="./artigo.html">Artigos</a></li>
                <li><a href="dicas.html">Dicas</a></li>
                <li><a href="./sobre2.html">Sobre Nós</a></li>
                <li><a href="index.html">Cadastro</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./home.html">Home</a></li>
            
            </ul>
        </nav>
    </header>
 

    <div class="product-cards-container" id="#produtos">
      <div class="product-card">
        <img src="../../public/imagens/mão1.png" alt="Intervenções Icon" />
        <h2>Autismo e comunicação</h2><br><br>
                <a href='https://www.scielo.br/j/rbee/a/mVvFCNhq5yHD5kCm8Tf8BNn/?lang=pt&utm_source=researcher_app&utm_medium=referral&utm_campaign=RESR_MRKT_Researcher_inbound'><button>Acessar</button></a>
                <br> </div>
      

      <div class="product-card">
        <img src="../../public/imagens/quadrado.png" alt="Autismo Icon" />
        <h2>Ambiente escolar</h2><br><br>
        <a href='http://177.66.14.82/handle/riuea/4713'><button>Acessar</button></a><br>
    </div>

      <div class="product-card">
        <img src="../../public/imagens/tea.png" alt="Autismo Icon" />
        <h2> Que tal uma leitura?</h2><br><br>
        <a href='https://books.google.com.br/books?hl=pt-BR&lr=&id=v_4lgc1hS28C&oi=fnd&pg=PA7&dq=autismo&ots=aF5bC1lzwQ&sig=5Bq6ys1OGkEQVIQ5pv_nj9yBBa8#v=onepage&q=autismo&f=false'><button>Acessar</button></a>
        <br> </div>

      <div class="product-card">
        <img src="../../public/imagens/imgqua.png" alt="Intervenções Icon" />
        <h2>Inclusão</h2><br><br>
                <a href='https://www.revistas.usp.br/estic/article/view/155742'><button>Acessar</button></a>
                <br>  </div>
    </div>

    <div style="flex-grow: 1;"></div> <!-- Para empurrar o footer para baixo -->

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Entre em Contato</h2>
                <p>Email: contato@exemplo.com</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Endereço: Rua Exemplo, 123, Cidade - Estado</p>
            </div>
            <div class="footer-section">
                <h2>Sobre Nós</h2>
                <p>Somos uma empresa dedicada a oferecer o melhor serviço ao cliente.</p>
            </div>
            <div class="footer-section">
                <h2>Navegação</h2>
                <p><a href="./home.html" style="color:white;">Home</a></p>
                <p><a href="./acompanhamento.html" style="color:white;">Acompanhamento</a></p>
                <p><a href="./artigo.html" style="color:white;">Dicas</a></p>
                <p><a href="./dicas.html" style="color:white;">Artigos</a></p>
            </div>
        </div>


        <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </footer>
</body>
</html>