<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direito dos autistas</title>
    <link rel="shortcut icon" href="img/favicon 1.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/inclusao.css">
   
</head>
<body>
        <header>
            <nav>
                
                <ul> 
             <div class="header-main">
                <a href="./home.html"> 
                <img id="logo" src="../../public/imagens/logos em.png" alt="logo" class="logo">
            </div>
                    <li><a href="./formulario.html">Formulário</a></li>
                    <li><a href="./acompanhamento.html">Acompanhamento</a></li>
                    <li><a href="./artigo.html">Artigos</a></li>
                    <li><a href="dicas.html">Dicas</a></li>
                    <li><a href="./sobre2.html">Sobre Nós</a></li>
                    <li><a href="index.html">Cadastro</a></li>
                    <li><a href="./login.html">Login</a></li>
                    <li><a href="./home.html">Home</a></li>
                
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="info">
                <h2>Direito dos autistas</h2>
                <p>A alfabetização de pessoas com autismo é essencial para seu desenvolvimento e inclusão social. Promove a comunicação, 
                    a autonomia e aumenta as oportunidades de emprego. </p>
                <p><b>Estratégias Eficazes:</b></p>
                <p><b>Métodos Visuais:</b> Usar quadros, flashcards e imagens para facilitar a compreensão.</p>
                <p><b>Linguagem Simples:</b>Frases curtas e diretas evitam confusões.</p> 
                <p><b>Rotinas Estruturadas: </b>Ambientes previsíveis reduzem a ansiedade. </p>  
                <p><b>Interesses Específicos: </b>Integrar temas que interessam o jovem para aumentar o engajamento.</p> 
                <p><b> Prática Regular:</b>Repetição e atividades práticas ajudam na consolidação do aprendizado. </p>
                <p><b>Desafios:</b></p>
                <p>Dificuldades sensoriais e variações no ritmo de aprendizado podem surgir, exigindo paciência e adaptação. </p>
                <p><b>Conclusão:</b></p>
                <p>Um ambiente inclusivo e adaptado na alfabetização promove a autonomia e melhora a qualidade de vida das pessoas com autismo,
                     abrindo portas para um futuro mais promissor.</p> 
            </div>
    
            <div class="videos">
                <h2>Vídeos</h2>
                <div class="container">
                <div class="video">
                    <iframe src="./vdios/vdios/AUTISMO - 10 ESTRATÉGIAS DE ALFABETIZAÇÃO! Como ensinar a LER, ESCREVER e INCLUSÃO.mp4" title="Vídeo 1"></iframe>
                </div>
                <div class="video">
                    <iframe src="./vdios/vdios/ALFABETIZAÇÃO NO AUTISMO_ POR ONDE COMEÇAR_.mp4" title="Vídeo 2"></iframe>
                </div>
                <div class="video">
                    <iframe src="./vdios/vdios/Métodos de Alfabetização para crianças com Autismo e outras deficiências _ 5 Minutos.mp4" title="Vídeo 2"></iframe>
                </div>
            </div>
        </div>
        </div>

        <div style="flex-grow: 1;"></div> <!-- Para empurrar o footer para baixo -->

        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h2>Entre em Contato</h2>
                    <p>Email: contato@exemplo.com</p>
                    <p>Telefone: (11) 1234-5678</p>
                    <p>Endereço: Rua Exemplo, 123, Cidade - Estado</p>
                </div>
                <div class="footer-section">
                    <h2>Sobre Nós</h2>
                    <p>Somos uma empresa dedicada a oferecer o melhor serviço ao cliente.</p>
                </div>
                <div class="footer-section">
                    <h2>Navegação</h2>
                    <p><a href="./home.html" style="color:white;">Home</a></p>
                    <p><a href="./acompanhamento.html" style="color:white;">Acompanhamento</a></p>
                    <p><a href="./artigo.html" style="color:white;">Dicas</a></p>
                    <p><a href="./dicas.html" style="color:white;">Artigos</a></p>
                </div>
            </div>
    
    
            <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
        </footer>
</body>
</html>