<!DOCTYPE html>
<html lang="pt-BR">
    
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <div class="circle-container">
        <a href="/modulos/modulo1" class="circle"><h1>1</h1></a>
        <a href="/modulos/alfabetizacao" class="circle"><h1>2</h1></a>
        <a href="/modulos/adolescente" class="circle"><h1>3</h1></a>
        <a href="/modulos/trabalho" class="circle"><h1>4</h1></a>
        <a href="/modulos/comunica" class="circle"><h1>5</h1></a>
        <a href="/modulos/inclusao" class="circle"><h1>6</h1></a>
        <a href="/modulos/direitos" class="circle"><h1>7</h1></a>
        <a href="/modulos/graus" class="circle"><h1>8</h1></a>
    </div>
    <div class="boxes">
        <div class="box">
            <h2>Já conhece a historia da empresa?</h2>
            <p>A Spectrum support é um site desenvolvido para professores auxiliar da melhor forma possível jovens autista no ensino tecnico.</p>
            <a href="./sobre2.html">Clique aqui para saber mais</a>
        </div>
        <div class="box">
            <h2>Encontre uma ajuda mais perto de você!</h2>
            <p> Temos nosso mapa de localização </p>
            <a href="./mapa.html">Veja no mapa abaixo</a>
        </div>
        <div class="box">
            <h2>Fale com nosso suporte</h2>
            <p>O que podemos te ajudar?:)</p>
            <a href="#">Entre em contato conosco</a>
        </div>
        </div>
        </div>
        </div>
        <div style="flex-grow: 1;"></div> <!-- Para empurrar o footer para baixo -->

        <%- include('../partials/footer') %>  
</body>
</html>