<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="../../public/imagens/img/favicon 1.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="#">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" required>

            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Manter-se conectado</label>
            </div>

            <button type="submit">Entrar</button>
        </form>
        <p class="signup-link">Não tem conta? <a href= "index.html">Se cadastrar</a></p>
    </div>
</body>
</html>
