<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para o professor</title>
    <link rel="shortcut icon" href="img/favicon 1.png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/styles/professor.css">
   
</head>
<body>
        <header>
            <nav>
                
                <ul> 
             <div class="header-main">
                <a href="./home.html"> 
                <img id="logo" src="src/logos em.png" alt="logo" class="logo">
            </div>
                    <li><a href="./formulario.html">Formulário</a></li>
                    <li><a href="./acompanhamento.html">Acompanhamento</a></li>
                    <li><a href="./artigo.html">Artigos</a></li>
                    <li><a href="dicas.html">Dicas</a></li>
                    <li><a href="./sobre2.html">Sobre Nós</a></li>
                    <li><a href="index.html">Cadastro</a></li>
                    <li><a href="./login.html">Login</a></li>
                    <li><a href="./home.html">Home</a></li>
                
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="info">
                <h2>Como Lidar com Jovens Autistas: Diretrizes Profissionais</h2><br>
                <p> Lidar com jovens autistas requer uma abordagem sensível e informada. Cada indivíduo no espectro autista apresenta características e 
                    necessidades únicas, portanto, é essencial adaptar estratégias de comunicação e interação. A seguir, apresentamos diretrizes que 
                    podem auxiliar profissionais e cuidadores na abordagem eficaz de jovens autistas. </p><br>
                <p><b>São elas:</b> compreensão e empatia, comunicação clara e adaptada, ambiente estruturado, promoção da autonomia, apoio emocional, colaboração com famílias e alfabetização e mercado de trabalho. 
                     
                    
                    <p><b>Conclusão:</b></p><br>
                    
                    <p>  Tratar jovens autistas com respeito, é fundamental para ajudá-los a prosperar. Ao seguir essas diretrizes, profissionais e cuidadores podem criar um ambiente inclusivo e estimulante, promovendo o bem-estar e o desenvolvimento integral dos jovens no espectro autista.  </p>
            </div>
    
            <div class="videos">
                <h2>Vídeos</h2>
                    <div class="container">
                        <div class="video">
                            <iframe src="./vdios/vdios/4 Dicas EFICAZES para lidar com crianças com Autismo em sala de aula.mp4" title="Vídeo 1"></iframe>
                        </div>
                        <div class="video">
                            <iframe src="https://youtu.be/6yLxmsO1zCo?si=grI8gkB9A2Xn-XK4" title="Vídeo 2"></iframe>
                        </div>
                        <div class="video">
                            <iframe src="https://www.youtube.com/watch?v=6yLxmsO1zCo" title="Vídeo 2"></iframe>
                        </div>
                    </div>
            </div>
        </div>
        </div>

    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h2>Entre em Contato</h2>
                <p>Email: contato@exemplo.com</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Endereço: Rua Exemplo, 123, Cidade - Estado</p>
            </div>
            <div class="footer-section">
                <h2>Sobre Nós</h2>
                <p>Somos uma empresa dedicada a oferecer o melhor serviço ao cliente.</p>
            </div>
            <div class="footer-section">
                <h2>Navegação</h2>
                <p><a href="./home.html" style="color:white;">Home</a></p>
                <p><a href="./acompanhamento.html" style="color:white;">Acompanhamento</a></p>
                <p><a href="./artigo.html" style="color:white;">Dicas</a></p>
                <p><a href="./dicas.html" style="color:white;">Artigos</a></p>
            </div>
        </div>


        <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </footer>

</body>
</html>