<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <main>
        
        <section class="titulo">
               
              <div class="anto-regular"> 
                
    
        <section>
            <h1>Sobre Nós</h1>
        </section>
        
        <section class="texto-central">
            <center><p>
                O Spectrum Support é uma plataforma moderna e prática, projetada para apoiar educadores no ensino de alunos com Transtorno do Espectro Autista (TEA). 
                Focado no desenvolvimento de habilidades fundamentais, como comunicação, regulação emocional, autonomia e interação social, o aplicativo proporciona
                estratégias personalizadas que atendem às necessidades específicas de cada aluno.
                <p>Além disso, o Spectrum Support promove a inclusão e a empatia 
                    no ambiente escolar, criando espaços acolhedores e colaborativos. Com ferramentas práticas para planejamento e avaliação, o aplicativo se destaca
                    como uma solução acessível e inovadora para os desafios do ensino inclusivo, contribuindo para uma educação mais equitativa e transformadora.</p> 
            </p> </center>
            
          
            
        </section>

    
    </main>
    <div style="flex-grow: 1;"></div> <!-- Para empurrar o footer para baixo -->

    <%- include('../partials/footer') %> 

  </body>
</html>


</body>
</html>
