

*{ box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #F1F1F1; 
    background-size: cover; 
    position: absolute;
    background-repeat: no-repeat; 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    width: 100%;
    height: 100%;
}
header {
   
    top: 0;
    background-color: #2d60b4;
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    flex: content;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.link-container {
    text-align: center; /* Centraliza o link na tela */
    margin-top: 250px; /* Adiciona um espaço acima do link */
}
a {
    font-family: 'Roboto', sans-serif; /* Usa a fonte Roboto */
    font-size: 20px; /* Define o tamanho da fonte do link */
    color: #007bff; /* Define a cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
}
a:hover {
    text-decoration: underline; /* Adiciona o sublinhado quando o link é hovered */
}

#logo {
height: 70px;

}

.header-main {
    flex: content;
    align-items: start;
    justify-content: start;
}


.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #003B78;
    display: flex;
    flex-direction: column;
    align-items: center;

}




.search-bar {
    width: 150px;
    height: 30px;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.menu li {
    margin: 20px 0;
   
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a img {
    margin-right: 10px;
}

.menu li a:hover {
    text-decoration: underline;
}



.main-content h1 {
    color: #f6ae28;
    font-size: 31px;
    font-family: "Poppins", system-ui;
    margin-bottom: 60px;
}

/* CARDS DE PRODUTOS */
/* Estilo do container dos cards */
.product-cards-container {
text-align: center;
    display: flex;
    justify-content: space-around;
    /* Distribui os cards com espaço entre eles */
    flex-wrap: wrap;
    /* Permite que os cards se movam para a linha de baixo em telas menores */
    margin: 15px ;
    max-width: 90%;
    }
    
    h2 {
    color: #1b2050;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-left: 150px;
    }
    
    /* Estilo de cada card */
    .product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 600px;
    padding: 15px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    }
    
    .product-card:hover {
    transform: scale(1.05);
    /* Efeito de zoom ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .product-card img {
    width: 30%;
    /* Faz a imagem ocupar toda a largura do card */
    border-radius: 8px;
    margin-bottom: 15px;
    }
    
    .product-card h2 {
    margin: 10px 0;
    font-size: 25px;
    color: #333;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    .product-card .description {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
    }
    
    .product-card .price {
    font-size: 18px;
    color: #641731;
    margin-bottom: 15px;
    font-weight: bold;
    }
    
    .product-card button {
    background-color:  #ffb833;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .product-card .btn:hover {
    background-color: #cf6d1c;
    }

    
/* Estilo geral do footer */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    background-color: #2d60b4; /* Fundo azul */
    color: white; /* Texto branco */
    padding: 10px; /* Diminuindo o padding */
    text-align: center;
    margin-top: auto; /* Faz o footer ficar no rodapé */
}
footer h2 {
    color: #f6ae28; /* Título amarelo */
    margin: 5px 0; /* Reduzindo a margem */
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer p {
    margin: 3px 0; /* Reduzindo a margem */
}
.footer-container {
    display: flex;
    justify-content: space-between; /* Alinha as seções de forma equilibrada */
    flex-wrap: wrap;
    max-width: 1000px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o container */
}
.footer-section {
    max-width: 200px; /* Diminuindo a largura máxima */
    margin: 5px; /* Ajustando a margem */
    text-align: center; /* Centraliza o texto */
}
.social-links a {
    color: #FFD700;
    margin: 0 5px; /* Diminuindo a margem */
    text-decoration: none;
}
.social-links a:hover {
    text-decoration: underline;
}
