body {
    font-family: Arial, sans-serif;
    background: url('img/fundo.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9); /* Leve transparência para destacar o formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f6ae28;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #f6ae28;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f6ae28;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #f6ae28;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
